alembic
diff-match-patch
fastapi
markdown
psycopg2-binary
pydantic
pydantic-settings
python-dotenv==1.0.0
python-multipart
sentence-transformers
sqlalchemy
sqlalchemy-utils
uvicorn
pgvector
pytest==7.4.0
pytest-cov==4.1.0
pytest-asyncio==0.21.1
httpx==0.24.1
pytest-mock==3.11.1
factory-boy==3.2.1
Faker==15.1.1